<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{page_title}}</title>
  <meta content="{{page_description}}" name="description">
  <meta content="Entrepreneur, Coach, Auteur, Venture Builder, Executive, Nehm Hounga" name="keywords">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page_title}}">
  <meta property="og:description" content="{{page_description}}">
  <meta property="og:image" content="../assets/img/hero.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{page_title}}">
  <meta property="twitter:description" content="{{page_description}}">
  <meta property="twitter:image" content="../assets/img/hero.jpg">

  <!-- Favicons -->
  <link href="../assets/img/favicon.jpeg" rel="icon">
  <link href="../assets/img/apple-touch-icon.jpeg" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../assets/css/main.css" rel="stylesheet">
  
  {{extra_head}}
</head>
